
UserSettings/

Temp/

Logs/

Library/Artifacts/

Library/Bee/

/MemoryCaptures/


.vs/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
Library/Search/

Library/ShaderCache/

Library/ArtifactDB

Library/ilpp.pid

Library/SceneVisibilityState.asset

Library/SourceAssetDB

Library/EditorInstance.json
