
UserSettings/

Temp/

Logs/

Library/Artifacts/

Library/Bee/

/MemoryCaptures/


.vs/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
Library/Search/

Library/ShaderCache/

Library/ArtifactDB

Library/ArtifactDB-lock

Library/ilpp.pid

Library/SceneVisibilityState.asset

Library/SourceAssetDB

Library/SourceAssetDB-lock

Library/EditorInstance.json

Library/TempArtifacts/

Library/InspectorExpandedItems.asset

Library/UIElements/

Library/expandedItems

Library/ShaderCache.db

Library/StateCache/

Library/ScriptAssemblies/

Library/APIUpdater/ConfigurationCache/

Library/LastSceneManagerSetup.txt
